<%- include('../layouts/layout', { body: `
<h2>Nuevo propietario</h2>
<div class="card shadow-sm">
  <div class="card-body">
    <form method="POST" action="/propietarios/nuevo" class="form">
      <label>Nombre<input name="name" required /></label>
      <label>Fono<input name="fono" /></label>
      <label>Email<input type="email" name="email" /></label>
      <button class="btn btn-save">Guardar</button>
    </form>
  </div>
</div>
` }) %>
