<%- include('../layouts/layout', { body: `
<div class="page-header">
  <h2>Documentos de la mascota #${pet_id}</h2>
  <div class="d-flex gap-2">
    <a class="btn btn--outline" href="/documentos/owner/${pet_id}">Volver</a>
    <a class="btn" href="/documentos/${pet_id}/receta">Nueva receta</a>
  </div>
</div>

<!-- Tarjetas generadas en servidor -->
<div id="docs-cards">${cardsHtml}</div>
` }) %>
